In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

In [6]:
data = pd.read_csv('./natural_gas_data.csv',encoding='gbk')
data.head()

                日期    燃气用量   湿度极差归一化  pm2.5归一化    AQI归一化   季节因素归一化
0  1/1/16 12:00 AM  405.81  0.715976  0.772973  0.799087  0.266362
1  1/2/16 12:00 AM  357.42  0.479290  0.740541  0.757991  0.252664
2  1/3/16 12:00 AM  350.44  0.805391  0.562162  0.561644  0.187215
3  1/4/16 12:00 AM  397.47  0.213018  0.621622  0.625571  0.208524
4  1/5/16 12:00 AM  382.64  0.515450  0.745946  0.767123  0.255708

In [7]:
data.drop(['日期'],inplace=True,axis=1)
data.head()

     燃气用量   湿度极差归一化  pm2.5归一化    AQI归一化   季节因素归一化
0  405.81  0.715976  0.772973  0.799087  0.266362
1  357.42  0.479290  0.740541  0.757991  0.252664
2  350.44  0.805391  0.562162  0.561644  0.187215
3  397.47  0.213018  0.621622  0.625571  0.208524
4  382.64  0.515450  0.745946  0.767123  0.255708

In [8]:
X = data.iloc[:,data.columns !='燃气用量']
X.head()

    湿度极差归一化  pm2.5归一化    AQI归一化   季节因素归一化
0  0.715976  0.772973  0.799087  0.266362
1  0.479290  0.740541  0.757991  0.252664
2  0.805391  0.562162  0.561644  0.187215
3  0.213018  0.621622  0.625571  0.208524
4  0.515450  0.745946  0.767123  0.255708

In [9]:
y = data.iloc[:,data.columns =='燃气用量']
y.head()

     燃气用量
0  405.81
1  357.42
2  350.44
3  397.47
4  382.64

In [13]:
regressor = RandomForestRegressor(n_estimators=50,random_state=0)
score=cross_val_score(regressor, X, y, cv=10
              # ,scoring = "neg_mean_squared_error"
               )
score

D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\MyPythonWork\MachineLearningInAction-Camp\venv\lib\site-packages\sklearn\model_selection\_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([-12.00052408,  -2.37403667,  -9.8727194 , -57.57216505,
       -52.23136261, -20.79826824, -14.94978698, -14.1316161 ,
        -4.05765997, -35.93659087])

In [11]:
score.mean()

-22.392472998463344